[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
pytesseract = "*"
opencv-python = "*"
numpy = "*"
starlite = "*"
pymongo = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
